.container {
  .room-sharing-tip {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: var(--spacing-smaller);

    ::v-deep(.network-delay) {
      color: var(--color-text-white);
    }
  }

  .room-sharing-menu-status {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-smaller);
    padding: var(--spacing-small);
    -webkit-app-region: drag;

    ::v-deep(.network-delay) {
      color: var(--color-text-grey);
    }
  }

  width: 100%;
  height: 100%;

  .page-model {
    width: 100%;
    height: 100%;
  }

  .tip {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(40, 40, 56, 0.45);
    border: var(--border-width-base) solid #636367;
    border-radius: 10px;
    color: white;
  }

  .menu {
    background-color: white;
    border: var(--border-width-base) solid var(--border-color-base);
    border-radius: 10px;
  }
}
