.container {
  height: 100%;
  padding: 0 var(--spacing-medium-plus);
  .container-header {
    display: flex;
    justify-content: space-between;
    font-weight: var(--font-weight-primary);
    color: var(--color-primary);
  }
  .intelligent-Filters {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    font-weight: var(--font-weight-primary);
    .intelligent-select {
      margin-right: var(--spacing-medium);
      .search-icon {
        cursor: pointer;
      }
    }
  }
  .page {
    position: absolute;
    right: 24px;
    bottom: 24px;
    // margin-top: 24px;
    // float: right;
  }

  .intelligent-option {
    display: flex;
    gap: var(--spacing-medium-plus);
  }
}
