.translate-chat {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: var(--spacing-medium);

  &.self {
    align-items: end;

    .container {
      .user-info {
        flex-direction: row-reverse;
      }

      .audio-frequency {
        flex-direction: row-reverse;

        .icon-volume {
          transform: rotate(180deg);
        }
      }
    }
  }

  .container {
    width: 450px;

    .chat-time {
      text-align: center;
      color: var(--color-text-secondary);
      margin-bottom: var(--font-size-medium);
    }

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 24px;
      margin-bottom: var(--spacing-tiny);

      .user-name {
        color: var(--color-text-primary);
        font-size: var(--font-size-base);
      }

      .translate-status {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 38px;
        height: 20px;
        padding: 0 var(--spacing-tiny);
        margin-left: var(--border-radius-base);
        background-color: #eef0ff;
        font-size: var(--font-size-extra-small);
        color: #475aec;
        border-radius: var(--border-radius-base);
      }

      .spacer {
        flex: 1;
        min-height: 1px;
      }

      .chat-unread {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        font-size: var(--font-size-extra-small);
        color: #475aec;
        padding: 0 var(--spacing-smaller);
        border: var(--border-width-base) solid #475aec;
        border-radius: var(--border-radius-base);

        &.read {
          color: var(--color-text-secondary);
          border-color: var(--border-color-base);
        }
      }
    }

    .audio-frequency {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 32px;
      padding: 0 var(--spacing-small);
      margin-bottom: var(--spacing-tiny);
      border: var(--border-width-base) solid #475aec;
      border-radius: var(--border-radius-large);
      cursor: pointer;
      overflow: hidden;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.5;
      }

      .iconfont {
        position: relative;
        color: #475aec;
      }

      .icon-volume {
        font-size: var(--font-size-medium);
      }

      .icon-play {
        font-size: var(--font-size-base);
      }

      .duration {
        position: relative;
        color: #475aec;
      }

      .progress-box {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #eef0ff;

        .progress {
          position: absolute;
          top: 0;
          right: 0;
          height: 30px;
          width: 30px;
          background-color: #eef0ff;
          border: 2px solid #475aec;
          border-radius: 15px;
        }
      }
    }

    .translate-content {
      min-height: 68px;
      padding: var(--spacing-small) var(--spacing-medium);
      background-color: #fff;
      border: var(--border-width-base) solid var(--border-color-light);
      border-radius: var(--spacing-smaller);

      .translate-text {
        line-height: 16px;
        font-size: var(--font-size-small);
        color: var(--color-text-primary);
        padding-left: 36px;
        text-indent: -36px;

        &:first-child {
          margin-bottom: var(--spacing-smaller);
        }
      }
    }
  }
  .context-menu {
    position: fixed;
    z-index: 9999;
  }
}
