.meeting-minutes {
  padding: var(--spacing-small);
  height: 460px;
  box-sizing: border-box;
  overflow-y: auto;
  .meeting-date {
    margin: 16px 14px;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: #475aec;
  }
  .meeting-message {
    padding: var(--spacing-small);
    border-radius: var(--border-radius-large);
    span {
      margin-right: var(--spacing-medium);
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-secondary);
      color: #737489;
    }

    .meeting-minutes-item {
      display: flex;
      align-items: center;
    }

    .meeting-title {
      width: 200px;
      white-space: nowrap; /* 防止文本换行 */
      overflow: hidden; /* 溢出隐藏 */
      text-overflow: ellipsis; /* 显示省略号 */
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-secondary);
      color: #282838;
    }
    .meeting-status {
      padding: 5px;
      font-size: var(--font-size-extra-small);
      background: #dddde9;
      border-radius: var(--border-radius-base);
    }
    .meeting-hover-status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 20px;
      margin-top: var(--spacing-small-medium);
      .meeting-invite-status {
        width: 36px;
        height: 20px;
        margin-right: var(--spacing-smaller);
        font-size: var(--font-size-extra-small);
        border-radius: var(--border-radius-base);
      }
      .meeting-dropdown:deep(.el-button-group) {
        button {
          --el-button-size: var(--font-size-extra-large);
        }
        .el-dropdown__caret-button {
          width: 20px;
          height: 20px;
        }
      }
    }

    .meeting-number {
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-secondary);

      &:hover {
        text-decoration: underline;
      }
    }

    .hover-button {
      display: none;
      align-items: center;
      column-gap: var(--spacing-small);

      .meeting-share {
        cursor: pointer;
      }

      .option-ellipsis {
        outline: none;
      }
    }
  }
}

.meeting-minutes::-webkit-scrollbar {
  display: none;
}
